@use './colors';

.pagination-dark {
    .page-item {
        span {
            background: colors.$dark;
        }

        
    }
    .page-item.active {
        span {
            background: colors.$green;
        }
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.loader {
    height: 400px;
}

.load-icon {
    animation: rotation 2s infinite linear;
}